extends layout/layout-side-left.pug

block vars
  -var title = 'agenda-no'

block title
        | Agenda
block content
        ul
            li.fragment.hideme CSS Basics
            li.fragment(style="text-decoration: line-through;") CSS Basics
            li.fragment.hideme Sass, Less, Stylus (CSS Preprocessors)
            li.fragment(style="text-decoration: line-through;") Sass, Less, Stylus (CSS Preprocessors)
            li.fragment.hideme Bootstrap, Materials, Talwind
            li.fragment(style="text-decoration: line-through;") Bootstrap, Materials, Talwind
            li.fragment.hideme CSS tooling
            li.fragment(style="text-decoration: line-through;") CSS tooling
            li.fragment.hideme CSS layouts (grid/flex)
            li.fragment(style="text-decoration: line-through;") CSS layouts (grid/flex)
            li.fragment.hideme CSS units
            li.fragment(style="text-decoration: line-through;") CSS units
            li.fragment.hideme CSS animations
            li.fragment(style="text-decoration: line-through;") CSS animations
            li.fragment.hideme UX/UI
            li.fragment(style="text-decoration: line-through;") UX/UI




