extends layout/layout-side-left.pug

block vars
  -var title = 'agenda'

block title
        | Agenda
block content
        ul
             li.fragment 
                | Variables / Custom properties
             li.fragment 
                | Functions
             p.fragment 
                | More:   
             li.fragment 
                | Selectors
             //-  li.fragment 
             //-     | Units   
             li.fragment 
                | Colors   
             li.fragment 
                | Media Queries

             //-  p.fragment 
             //-    | Live Demo    
                 
           
     
    
    




