extends layout/layout-side-left.pug

block vars
  -var title = 'agenda'

block title
        | Agenda
block content
        p 
        | QR Code
        img.fragment(src="img/static-webserver.png" alt="qr code to presentation" style="max-width: 800px;")  
                 
           
     
    
    




