extends layout/layout.pug 

block vars
  - var title = 'browswer-peace'

block title
        | Browser peace
block content
    ul.flex.no-bullet

      li.fragment 
         img(src="img/fast1.jpeg" alt="browser logo" style="max-height: 500px;max-width: 800px;")
         p.disclaimer
            a(href="https://www.researchgate.net/figure/Figure-2-Evolution-of-Physical-Inactivity-Source_fig2_316968020" target="_blank")
            |  https://www.pinterest.com/pin/860187597567286705/

      li.fragment 
         img(src="img/fast2.jpeg" alt="browser logo" style="max-height: 500px;max-width: 800px;")
         p.disclaimer
            a(href="https://www.researchgate.net/figure/Figure-2-Evolution-of-Physical-Inactivity-Source_fig2_316968020" target="_blank")
            |  https://www.pinterest.com/pin/860187597567376336/
 
