extends layout/layout.pug 

block vars
  - var title = 'browser-wars'

block title
        | Browser Wars
block content
    img(src="img/browser-wars.png" alt="browser logo" style="max-height: 800px;max-width: 800px;")
    p.disclaimer
       a(href="    https://www.seekpng.com/ima/u2q8a9w7o0q8w7e6/" target="_blank")
         |    www.seekpng.com/ima/u2q8a9w7o0q8w7e6

 
 
