extends layout/layout-side-left.pug 

block vars
  - var title = 'colors'

block title
        | Colors   

block content
      ul
        li.fragment name 
          span(style="color:red")
            |red
        li.fragment 
          span(style="color:#e3e3e3")
            |#e3e3e3
        li.fragment 
          span(style="color:rgb(11, 240, 55)")
            |rgb(11, 240, 55)     
        li.fragment.strong
          span(style="color:hsl(312 75% 35%)")
            |hsl(312, 75%, 35%)  
        li.fragment opacity   
          br 
          span(style="color:rgba(11, 240, 55, 0.5)")
            |rgba(11, 240, 55, 0.5)
          br  
          span(style="color:hsla(312 75% 35% / 0.5)")
            |hsla(312 75% 35% /0.5)    
        li.fragment 
          span(style="color:hwb(183 75% 7%);  ")
            |hwb(183 75% 7%); 
                
       
