extends layout/layout.pug 

block vars
  - var title = 'units'

block title
        
        | Colors - Example

block content
    .div.example-container(style="translate: 200px 200px")
      div(style="background-color:red; font-size:20px; display:flex;align-items: center;justify-content: center;") red
      div(style="background-color:Tomato;font-size:20px; display:flex;align-items: center;justify-content: center;") Tomato
      div(style="background-color:OrangeRed;font-size:20px; display:flex;align-items: center;justify-content: center;") OrangeRed
      div(style="background-color:Gray;font-size:20px; display:flex;align-items: center;justify-content: center;") Gray
      div(style="background-color:DarkGrey;font-size:20px; display:flex;align-items: center;justify-content: center;") DarkGrey
       
