extends layout/layout-side-left.pug 

block vars
  - var title = 'framework'

block title
        
        | Frameworks

block content
      ul
        li.fragment React
        li.fragment Vue 
        li.fragment Angular 
        li.fragment Ember
        li.fragment NextJs
        li.fragment Gastby 
        li.fragment Svelte 
        li.fragment Nuxt   
        li.fragment AngularJs       
        li.fragment Knockout  
        li.fragment Backbone    
        li.fragment Polymer 
        li.fragment ExtJs 
        li.fragment JQuery
        li.fragment OpenUI5             





