extends layout/layout-side-left.pug 

block vars
  - var title = 'functions'

block title
        | Function - Example


block content
         div.flex(style="gap:100px")
           pre(style="width:400px")
              code(data-trim data-noescape style="max-width:1000px; max-height:800px;")
                |.invert{
                |     filter: invert();
                |}
           img.fragment.invert(src="img/fast2.jpeg" alt="browser logo" style="max-height: 500px;max-width: 800px;")
          

       
