extends layout/layout.pug 

block vars
  - var title = 'functions'

block title
        
        | Function 

block content
      
      .flex 
        div.fragment.magenta(style="padding: 2rem")
         | name 
        div.fragment.mint(style="padding: 2rem")
         | arguments 
        div.fragment.yellow(style="padding: 2rem")
         | results  

       
