extends layout/layout-side-left.pug 

block vars
  - var title = 'functions'

block title
        
        | Function - Example


block content
        ul
          li.fragment transform:  translate(), rotate()
          li.fragment colors: rgb(255, 255, 255), filter, gradients
          li.fragment math: calc(), min(), max(), clamp(), sin()...
          li.fragment content: url(), path()
          

       
