extends layout/layout.pug 

block vars
  - var title = 'function example gradient'

block title
        
        | Advanced filter - Example

block content
 
      a(href="https://codepen.io/sosuke/pen/Pjoqqp" target="_blank")
         img(src="img/codepen.png" alt="" style="max-height: 800px;max-width: 800px;")
