extends layout/layout-side-left.pug 

block vars
  - var title = 'functions'

block title
        | Function - Example


block content
        div.flex(style="height:100%")
          .example-container
               #it 
               #er 
               #at 
               #ec

          

       
