extends layout/layout-side-left.pug 

block vars
  - var title = 'functions'

block title
        | Function - Example


block content
         div.flex(style="width:800px")
           img(src="img/fast2.jpeg" alt="browser logo" style="max-height: 500px;max-width: 800px;")
          

       
