extends layout/layout.pug 

block vars
  - var title = 'function example gradient'

block title
        
        | CSS Gradient - Example

block content
 
      a(href="https://cssgradient.io/" target="_blank")
         | cssgradient.io