extends layout/layout.pug

block vars
  -var title = 'lets-meet'

block title
        |  Introduction round
block content
        .flex 
             img.fragment(src="img/lets-introduce.gif" alt="lets-introduce" style="max-width: 800px;")  
             ul.square.biggest
                li.fragment  iteratec Location 
                        br
                        img(src="https://cdn-assets-eu.frontify.com/s3/frontify-enterprise-files-eu/eyJwYXRoIjoiaXRlcmF0ZWNcL2FjY291bnRzXC9hYlwvNDAwMDczOFwvcHJvamVjdHNcLzhcL2Fzc2V0c1wvMzFcLzIyNDRcL2FmMzg5MzY3ZDRmN2EyNTVlMWUxZWI2ZGE5MjJkNjg3LTE2MjEzNTczMDAuc3ZnIn0:iteratec:DBxLZ2Enk-_DeZVmWNnLUlQTcer4AXstC3JZK_KadVA?width=75" width="75px" height="75px")
                        img(src="https://cdn-assets-eu.frontify.com/s3/frontify-enterprise-files-eu/eyJwYXRoIjoiaXRlcmF0ZWNcL2FjY291bnRzXC9hYlwvNDAwMDczOFwvcHJvamVjdHNcLzhcL2Fzc2V0c1wvZDRcLzIyNDBcL2EyYjQzZDU4ODgxNjM3MTA2YWI2ZGFiMDYxZWQ1NTVkLTE2MjEzNTczMDAuc3ZnIn0:iteratec:MqE3MxtN7Z_RXCCHMgVQFuAqNsh5zjukaMFUJJpWDAc?width=75" width="75px" height="75px")
                        img(src="https://cdn-assets-eu.frontify.com/s3/frontify-enterprise-files-eu/eyJwYXRoIjoiaXRlcmF0ZWNcL2FjY291bnRzXC9hYlwvNDAwMDczOFwvcHJvamVjdHNcLzhcL2Fzc2V0c1wvM2RcLzIyMzZcLzgxYzQ4OWU5MWU4MmY1OTZjNmZlYWFmODVlYWNhZGY2LTE2MjEzNTczMDAuc3ZnIn0:iteratec:E5V05FWCh0ArLzBgH-0fxf0rF7kWX6UXNrXcSlmtW_4?width=75" width="75px" height="75px")
                        img(src="https://cdn-assets-eu.frontify.com/s3/frontify-enterprise-files-eu/eyJwYXRoIjoiaXRlcmF0ZWNcL2FjY291bnRzXC9hYlwvNDAwMDczOFwvcHJvamVjdHNcLzhcL2Fzc2V0c1wvNjVcLzIyMzRcLzBhMTI1OTlkMzU1NmUyY2M3MTEyMWIxODk5ZTQzZTRhLTE2MjEzNTczMDAuc3ZnIn0:iteratec:hCjwjEVyO5_rY5D6Axiu15PTlF6s8H44yODQ-UmBE9g?width=75" width="75px" height="75px")
                        img(src="https://cdn-assets-eu.frontify.com/s3/frontify-enterprise-files-eu/eyJwYXRoIjoiaXRlcmF0ZWNcL2FjY291bnRzXC9hYlwvNDAwMDczOFwvcHJvamVjdHNcLzhcL2Fzc2V0c1wvM2VcLzIyMzJcL2U5MmY2Yjg4NWI4NDliMGIyN2Y1YjQwOTBkYjAwNDZlLTE2MjEzNTczMDAuc3ZnIn0:iteratec:qJrURI_Q_8tb7dRBnX6a4OkX--_LU_7Kz2Xg9vFmoNg?width=75" width="75px" height="75px")
                        img(src="https://cdn-assets-eu.frontify.com/s3/frontify-enterprise-files-eu/eyJwYXRoIjoiaXRlcmF0ZWNcL2FjY291bnRzXC9hYlwvNDAwMDczOFwvcHJvamVjdHNcLzhcL2Fzc2V0c1wvMDFcLzIyMjZcLzg3NTM2YTM3MGNmNTdhM2ZiMmVlNzUwMjMxY2Y3M2Q0LTE2MjEzNTczMDAuc3ZnIn0:iteratec:GV1xhr4Wh2T8P0TJkiUS5sYyXXYLE54itEfGA9-6uHc?width=75" width="75px" height="75px")
                        img(src="https://cdn-assets-eu.frontify.com/s3/frontify-enterprise-files-eu/eyJwYXRoIjoiaXRlcmF0ZWNcL2FjY291bnRzXC9hYlwvNDAwMDczOFwvcHJvamVjdHNcLzhcL2Fzc2V0c1wvNGFcLzIyMjhcLzhiMjY3ZmY2ZDU2NTc1M2VhMmExZTMzYWRlNTE3MGI5LTE2MjEzNTczMDAuc3ZnIn0:iteratec:Kml5dC2bG2MC6SSz6qbNE_p_Fdcv-pk-FOIzNzhHfIk?width=75" width="75px" height="75px")
                li.fragment  Baisc Programing Language 
                        img(src="https://cdn-assets-eu.frontify.com/s3/frontify-enterprise-files-eu/eyJwYXRoIjoiaXRlcmF0ZWNcL2FjY291bnRzXC9hYlwvNDAwMDczOFwvcHJvamVjdHNcLzhcL2Fzc2V0c1wvZjlcLzEzMjFcLzkyMjEzMTRhODE1YjNiMDk0Nzc1MDczZjZjMzc4YmEzLTE2MDA0MTk2ODIuc3ZnIn0:iteratec:H6m8TwRAolKU4B3eCl9vXeMJ8wnyWwV102FAVjTxYMI?width=30" width="30px" height="30px")
                li.fragment  Feelings for CSS: 
                        ul.fragment.no-bullet.biggest
                                li.hate Hate
                                li.avoid Avoid when possible
                                li.neutral Neutral
                                li.volonteer I'm always a volonteer
                                li.love Love
    
    




