extends layout/layout-side-left.pug

block vars
  -var title = 'media queries'

block title
        | media queries 
block content
        ul
          li.fragment 
             | mobile view
          li.fragment 
             | printing
          li.fragment.strong 
             | dark mode