extends layout/layout.pug

block vars
  -var title = 'is-css-programming-language'
  - var transition= "fade-in slide"

block title
        |  Is CSS Programming Languge?
block content
        //- img(src="img/1book9.jpg" style="display: block; margin: 0 auto;" alt="agenda")
        img(src="img/programming-languages.png" alt="programming lanugages" style="max-width: 1200px; margin-top: 150px")  
        p.move
                |   CSS

        script.
           document.querySelector('.move').classList.add('move-css')


        //- https://www.watelectronics.com/types-of-programming-languages-with-differences//
 




