extends layout/layout.pug

block vars
  -var title = 'is-css-programming-language'
  - var transition= "slide fade-out"

block title
        |  Is CSS Programming Languge?
block content
        img(src="img/programming-languages.png" alt="programming lanugages" style="max-width: 1200px; margin-top: 150px")  
 
         


        //- https://www.watelectronics.com/types-of-programming-languages-with-differences/
 




