extends layout/layout-side-left.pug

block vars
  -var title = 'pseudo-selectors'

block title
        | pseudo selectors
block content
        ul
             li.fragment 
                | :hover, :active
             li.fragment 
                | :nth-child, first-child, last-of-type
                 
           
     
    
    




