extends layout/layout-side-left.pug

block vars
  -var title = 'pseudo-elements'

block title
        | pseudo elements
block content
        ul
             li.fragment 
                | ::before, ::after
             li.fragment 
                | ::firstLetter, ::firstLine
                 
           
     
    
    




