extends layout/layout-side-left.pug

block vars
  -var title = 'selectors-next level'

block title
        | selectors
block content
        ul
             li.fragment 
                | >, +, ~, *
             li.fragment 
                | [attr]
             li.fragment 
                | :empty, :not
             li.fragment 
                | :has 
                 
           
     
    
    




