extends layout/layout.pug 

block vars
  - var title = 'css-prio'

block title
        | Selectors prio
block content
    ul.flex.no-bullet

      li.fragment 
         img(src="img/css-prio.png" alt="css prio logo" style="max-height: 500px;max-width: 5   00px;")
         p.disclaimer
            a(href="https://stackoverflow.com/a/54885587/13762066" target="_blank")
            |  https://stackoverflow.com/a/54885587/13762066
