extends layout/layout.pug 

block vars
  - var title = 'summary'

block content
         img(src="img/summary.png" style="border:0")
         ul            
           li If you have CSS problem let me know, I'll try to help 
           li If you have 1hour for CSS weekly subscribe 
              a(href="https://www.youtube.com/kepowob" _target="blank")
                |Kevin Powels 
              | youtube channel
