extends layout/layout-title.pug

block vars
  - var title = 'title'
  - var transition= "fade-out fade-out"


block content
        .flex           
          h2.move-title
             | Variables 
             br
             | functions
             br
             | and more 
             br
             | are 
             br
             | waiting for
             br
             | you in your
             br
             | CSS
             br
             | stylesheet   
 
