extends layout/layout.pug 

block vars
  - var title = 'variables-title'


block content
      .section-title
          h1
            | Variables
          h7
            | a.k.a
            | Custom Properties

       
