- var transition= "slide"
block vars
- var pageId = title+ "-"+  counter++
section(id= pageId, data-transition=transition)
  h2.header
    block title
  div
    block content
    .decoration-title.left-top 
        .box.black
        .box.magenta
        .box.yellow
        .box.magenta
        .box.mint
        .box.white
        .box.yellow
        .box.white
        .box.white
    .decoration-title.left-bottom
        .box.yellow
        .box.white
        .box.white
        .box.magenta
        .box.mint
        .box.white
        .box.black
        .box.magenta
        .box.yellow
    .decoration-title.right-top 
        .box.yellow
        .box.magenta
        .box.black
        .box.white
        .box.mint
        .box.magenta
        .box.white
        .box.white
        .box.yellow
    .decoration-title.right-bottom 
        .box.white
        .box.white
        .box.yellow
        .box.white
        .box.mint
        .box.magenta
        .box.yellow
        .box.magenta
        .box.black




